<!DOCTYPE html>

<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>网络重要流检测系统展示</title>
    </head>

    <body>
        <div id="plan" class="container-sm card card-customize">
            <div class="card-body">
                <h2>输入您的重要流检测计划</h2>
                <form name="topkQueryPlan">
                    <div class="form-group">
                        <label for="agentAddress">检测节点地址(IP:port)</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="agentAddress" value="localhost:50051">
                            <div class="input-group-append">
                                <input type="button" class="btn btn-primary" id="updateInterface" value="更新接口列表">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="interfaceName">监听接口</label>
                        <select class="form-control" id="interfaceName" name="interfaceName">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="timeWindowLen">检测时间窗口长度(秒)</label>
                        <input type="text" class="form-control" id="timeWindowLen" name="timeWindowLen" value="500">
                    </div>

                    <div class="form-group">
                        <label for="k">输出重要流数量(K的大小)</label>
                        <input type="text" class="form-control" id="k" name="k" value="20">
                    </div>

                    <button type="submit" class="btn btn-primary" id="topkStart">开始</button>
                </form>
            </div>
        </div>

        <div id="result" class="container-sm card card-customize" hidden>
            <div class="card-body">
                <h2>重要流检测结果</h2>
                <div class="progress">
                    <div id="capture-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <table id="result-table" class="table" hidden>
                    <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">流类型</th>
                            <th scope="col">源IP</th>
                            <th scope="col">源端口号</th>
                            <th scope="col">目的IP</th>
                            <th scope="col">目的端口号</th>
                            <th scope="col">当前时间窗口计数</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
            
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>